<!DOCTYPE html>
<html>
<head>
    <title>Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<h1><p>Санаторий Мечта</p></h1>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="/" > <img src="images/logo.png" class="img-thumbnail"  alt="...">  </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="about">О нас </a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Проживание
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Номера</a></li>
                        <li><a class="dropdown-item" href="bron">Бронирование</a></li>
                    </ul>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Лечение
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Лечебное питание</a></li>
                        <li><a class="dropdown-item" href="docs">Врачи</a></li>

                    </ul>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Путевка
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Типы путевок</a></li>
                    </ul>
            </ul>

        </div>
    </div>
</nav>
<h1 class="text-center"> Лечебное питание</h1>
<h2>Основной вариант стандартной диеты (ОВД)</h2>

    <div class="container">
    <div class="row">
        <% for (let food of foods ) {%>
        <div class="card col-3 m-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><%=food.dieta%></h5>
                <p class="card-text"><%=food.goal%></p>
                <p class="card-text"><%=food.character%></p>
                <p class="card-text"><%=food.energ%></p>
            </div>
        </div>
        <% } %>
    </div>
</div>

</div>
</body>
</html>