<!DOCTYPE html>
<html>
  <head>
    <title>Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </head>
<h1><p>Санаторий Мечта</p></h1>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a href="/" > <img src="images/logo.png" class="img-thumbnail"  alt="...">  </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="about">О нас </a>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Проживание
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="room">Номера</a></li>
              <li><a class="dropdown-item" href="bron">Бронирование</a></li>
            </ul>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Лечение
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="food">Лечебное питание</a></li>
              <li><a class="dropdown-item" href="docs">Врачи</a></li>
              <li><a class="dropdown-item" href="medicine">Медицинские услуги</a></li>
            </ul>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Путевка
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="tip">Типы путевок</a></li>
            </ul>
          <li class="nav-item dropdown">


        </ul>
        <div class="d-flex">
          <a class="btn btn-success ml-5" href="registr" role="button">Регистрация</a>
          </form>
        </div>
      </div>

        <div class="d-flex">
          <a class="btn btn-success " href="bron" role="button ">Забронировать</a>
        </form>
      </div>
    </div>

    </div>
  </nav>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/cr1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/cr2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/cr33.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div>


<div class="row ">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Лечебное питание</h5>
      <p class="card-text"> Моэете ознакомиться с различными видами диет, которые есть в нашем меню.</p>
      <a href="food" class="btn btn-outline-success ">Узнать больше</a>
    </div>



      <div class="card text1-center">
        <div class="card-body">
          <h5 class="card-title">Медицинские услуги</h5>
          <p class="card-text">Большое количество разнообразных полезных медицинских процедур. </p>
          <a href="medicine" class="btn btn-outline-success ">Узнать больше</a>
        </div>
  </div>
  </div>
</div>
  </div>
    </div>
  </body>


<footer class="pt-4 my-md-5 pt-md-5 border-top">

  <div class="row">
    <div class="col-sm-2">
      <div class="card">
        <div class="card-body">
          <h4>Контакты</h4>
          <ul class="list-unstyled">
            <li>
              <a href="tel:+79849068010">+7 (984) 906-80-10</a>
            </li>
            <li>
              <a href="tel:+79829653606">+7 (982) 965-36-06</a>
            </li>
            <li>
              <a href="tel:+79394542563">+7 (939) 454-25-63</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="card">
        <div class="card-body">
          <h4>Оставить свое мнение о работе санатория</h4>
          <ul class="list-unstyled">
            <li>
              <a href="mailto:service@mail.ru">service@mail.ru</a>
            </li>
            <li>
              <a href="mailto:sn.mechta@mail.ru">sn.mechta@mail.ru</a>
            </li>
          </ul>
        </div>
      </div>
    </div>




</div>
</footer>
</html>
