<!DOCTYPE html>
<html>
<head>
    <title>Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<h1><p>Санаторий Мечта</p></h1>
<body>
<form action="action_page.php">
    <div class="container">
        <h1>Регистрация</h1>
        <p>Заполните форму для регистрации на сайте или войдите в аккаунт.</p>
        <hr>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
        <hr>

        <p>Создавая аккаунт, вы соглашаетесь с правилами <a href="#">Terms & Privacy</a>.</p>
        <button type="submit" class="registerbtn">Зарегистрироваться</button>
    </div>

    <div class="container signin">
        <p>Уже есть аккаунт? <a href="#">Войдите</a>.</p>
    </div>
</form>



</body>


</html>
